@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: disolve;
  src: url(./fonts/Disolve_light.ttf)
}

@font-face {
  font-family: squid;
  src: url(./fonts/Game_of_squids.ttf)
}

body {
  background-color: white;
  margin: 0 0;
  height: 100%;
  text-shadow: rgb(0, 0, 0) 0 1px 15px;
  color: white;
  display: flex;
  flex-direction: column;
  header #wealoc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: roboto;
    #location {
      margin: 15px 15px 0 0;
      font-size: 1.1em;
    }
    #weather {
      display: flex;
      #degrees {
        display: flex;
        align-items: center;
        font-size: 1.5em;
      }
      #picture {
        margin-left: 15px;
      }
    }
  }
  main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    #tempush {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: squid;
      #time {
        font-family: disolve;
        font-size: 12rem;
        display: flex;
      #point {
        position: relative;
        padding-left: 10px;
        padding-right: 10px
        }
      }
      #search {
        border-radius: 20px;
        height: 30px;
        width: 300px;
        padding: 2px 10px;
        ::placeholder {
          color: #878585;
          opacity: 0.7; 
        }
      }
    }
  }
  footer {
    display: flex;
    justify-content: center;
  }
}

